!!! 5
%html(lang="en-US")
  %head
    %title Magic Card Generator
    %meta(charset="UTF-8")
    = stylesheet_link_tag "application"
    = javascript_include_tag "jquery.min", "application"
  %body
    %section
      = yield
